<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @cherup.content %>
</p>

<p>
  <b>Img:</b>
  <%= @cherup.img %>
</p>


<%= link_to 'Edit', edit_cherup_path(@cherup) %> |
<%= link_to 'Back', cherups_path %>
